.header {
    background-color: teal;
    height: 120px;
    border-bottom: 20px;
}

h1 {
    color: #bbbaba;
    padding-top: 40px;
    padding-left: 20px;
    font-size: auto;
    text-transform: uppercase;
}

.footer {
    background-color: teal;
    height: 60px;

}

.footer p {
    color: #bbbaba;   
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 2rem;

}

.main {
    margin-top: 30px;
}


h2.posttitle {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}

img.blogimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

