.header {
    background-color: #09819a;
    max width: 100%;
    height: 120px;
    border-bottom: 20px;
    float: center;
}

h1 {
    color: #bbbaba;
    padding-top: 40px;
    padding-left: 20px;
    font-size: auto;
    text-transform: uppercase;
}

.footer {
    background-color: #09819a;
    max width: 100%;
    height: 60px;
    float: center;

}

.footer p {
    color: #bbbaba;   
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 2rem;

}

.main {
    margin-top: 20px;
    
}


h2.posttitle {
    color: #504f4f;;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}

img.blogimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    
  }

.post {
    padding: 20px;
}

h2 {
    color: #504f4f;
    font-weight: bold;

}

h4 {
    color: #504f4f;
    font-size: 3rem;
    font-weight: bold;
}

p {
    color: #504f4f; 
    font-size: 2rem;
}

img.t3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
    width: 150px;
    padding-bottom: 30px;
}
.wireframe{
    max-width: 100%;
    max-height: inherit;
    margin-bottom: 5px;
    margin-top: 10px;
  }